examples/obfuscation.json
[
    {
        "id": "6fb884be0636fe23",
        "type": "link in",
        "z": "a8d0a74af83ab37c",
        "name": "link in 5",
        "links": [],
        "x": 142,
        "y": 751,
        "wires": [
            [
                "124636494f252f9a",
                "2349c1716c09d973"
            ]
        ]
    },
    {
        "id": "124636494f252f9a",
        "type": "function",
        "z": "a8d0a74af83ab37c",
        "name": "function 21",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 452,
        "y": 703,
        "wires": [
            [
                "77d9823dfd334c66",
                "af8b9e17146bcbc7"
            ]
        ]
    },
    {
        "id": "2349c1716c09d973",
        "type": "change",
        "z": "a8d0a74af83ab37c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 417,
        "y": 870,
        "wires": [
            [
                "96bc0eadf9074328"
            ]
        ]
    },
    {
        "id": "197e3889afbe7565",
        "type": "link out",
        "z": "a8d0a74af83ab37c",
        "name": "link out 130",
        "mode": "return",
        "links": [],
        "x": 1014,
        "y": 927,
        "wires": []
    },
    {
        "id": "46ca59c96fe5df51",
        "type": "link out",
        "z": "a8d0a74af83ab37c",
        "name": "link out 131",
        "mode": "return",
        "links": [],
        "x": 1003,
        "y": 1042,
        "wires": []
    },
    {
        "id": "01ea48b2cf1732ba",
        "type": "link out",
        "z": "a8d0a74af83ab37c",
        "name": "link out 132",
        "mode": "return",
        "links": [],
        "x": 1104,
        "y": 629,
        "wires": []
    },
    {
        "id": "96bc0eadf9074328",
        "type": "switch",
        "z": "a8d0a74af83ab37c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 637,
        "y": 960,
        "wires": [
            [
                "197e3889afbe7565"
            ],
            [
                "46ca59c96fe5df51"
            ],
            [],
            [
                "0910feac9ba83f3d"
            ]
        ]
    },
    {
        "id": "77d9823dfd334c66",
        "type": "function",
        "z": "a8d0a74af83ab37c",
        "name": "function 22",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 668,
        "y": 771,
        "wires": [
            [
                "01ea48b2cf1732ba",
                "5d492ede56e00c66"
            ]
        ]
    },
    {
        "id": "af8b9e17146bcbc7",
        "type": "function",
        "z": "a8d0a74af83ab37c",
        "name": "function 23",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 728,
        "y": 616,
        "wires": [
            [
                "69bcb6d83acf8611"
            ]
        ]
    },
    {
        "id": "69bcb6d83acf8611",
        "type": "debug",
        "z": "a8d0a74af83ab37c",
        "name": "debug 175",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 996,
        "y": 528,
        "wires": []
    },
    {
        "id": "2e54dba4702eb253",
        "type": "link call",
        "z": "a8d0a74af83ab37c",
        "name": "",
        "links": [
            "6fb884be0636fe23"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 559,
        "y": 246,
        "wires": [
            [
                "a8497bc590bbe022"
            ]
        ]
    },
    {
        "id": "6a0be88182b9dc7d",
        "type": "inject",
        "z": "a8d0a74af83ab37c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 422,
        "y": 336,
        "wires": [
            [
                "2e54dba4702eb253"
            ]
        ]
    },
    {
        "id": "be1edbcda597951b",
        "type": "debug",
        "z": "a8d0a74af83ab37c",
        "name": "debug 176",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1233,
        "y": 325,
        "wires": []
    },
    {
        "id": "b8fabbb52343dc35",
        "type": "link call",
        "z": "a8d0a74af83ab37c",
        "name": "",
        "links": [
            "6fb884be0636fe23"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 838,
        "y": 414,
        "wires": [
            [
                "10fda304159e4487"
            ]
        ]
    },
    {
        "id": "5bfeda4e28f766ed",
        "type": "link call",
        "z": "a8d0a74af83ab37c",
        "name": "",
        "links": [
            "6fb884be0636fe23"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1103,
        "y": 237,
        "wires": [
            [
                "be1edbcda597951b"
            ]
        ]
    },
    {
        "id": "5d492ede56e00c66",
        "type": "function",
        "z": "a8d0a74af83ab37c",
        "name": "function 24",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1001,
        "y": 785,
        "wires": [
            [
                "cd6c6e404bb86358"
            ]
        ]
    },
    {
        "id": "cd6c6e404bb86358",
        "type": "change",
        "z": "a8d0a74af83ab37c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1262,
        "y": 695,
        "wires": [
            []
        ]
    },
    {
        "id": "0910feac9ba83f3d",
        "type": "change",
        "z": "a8d0a74af83ab37c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 916,
        "y": 1154,
        "wires": [
            []
        ]
    },
    {
        "id": "a8497bc590bbe022",
        "type": "function",
        "z": "a8d0a74af83ab37c",
        "name": "function 25",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 721,
        "y": 327,
        "wires": [
            [
                "b8fabbb52343dc35"
            ]
        ]
    },
    {
        "id": "10fda304159e4487",
        "type": "function",
        "z": "a8d0a74af83ab37c",
        "name": "function 26",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 955,
        "y": 327,
        "wires": [
            [
                "5bfeda4e28f766ed"
            ]
        ]
    }
]