examples/obfuscation-catch-node.json
[
    {
        "id": "3541d7b242989f17",
        "type": "group",
        "z": "c7d40a2eacbeb56e",
        "name": "start here",
        "style": {
            "label": true
        },
        "nodes": [
            "1ed80b9a8975da2d",
            "09e2ec0b886b3f03",
            "e4b5af274f0fb512",
            "083231a35e20e926",
            "9f2c01a0a3458034",
            "e8be6e48bc564a0b",
            "1b55a569db1a65bb",
            "658a813087e8c163",
            "ba12938804f8c670",
            "1d684ddc7f7f8355",
            "983a7a1d8f4996ef",
            "b0194284097d856c",
            "0638a2ba33801a3a"
        ],
        "x": 22.333251953125,
        "y": 86,
        "w": 1388,
        "h": 951.666748046875
    },
    {
        "id": "1ed80b9a8975da2d",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "function 28",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 214.33327865600586,
        "y": 577.6667213439941,
        "wires": [
            [
                "09e2ec0b886b3f03"
            ]
        ]
    },
    {
        "id": "09e2ec0b886b3f03",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "function 29",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 416.33327865600586,
        "y": 459.66672134399414,
        "wires": [
            [
                "e4b5af274f0fb512"
            ]
        ]
    },
    {
        "id": "e4b5af274f0fb512",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "function 30",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 685.3332786560059,
        "y": 567.6667213439941,
        "wires": [
            [
                "9f2c01a0a3458034"
            ]
        ]
    },
    {
        "id": "083231a35e20e926",
        "type": "catch",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "",
        "scope": [
            "1ed80b9a8975da2d",
            "09e2ec0b886b3f03",
            "0638a2ba33801a3a"
        ],
        "uncaught": false,
        "x": 507.333251953125,
        "y": 321.6667175292969,
        "wires": [
            [
                "9f2c01a0a3458034",
                "e4b5af274f0fb512",
                "1d684ddc7f7f8355"
            ]
        ]
    },
    {
        "id": "9f2c01a0a3458034",
        "type": "link out",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "link out 133",
        "mode": "return",
        "links": [],
        "x": 954.3332786560059,
        "y": 567.6667213439941,
        "wires": []
    },
    {
        "id": "e8be6e48bc564a0b",
        "type": "link in",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "link in 6",
        "links": [],
        "x": 100.33328247070312,
        "y": 310.6667175292969,
        "wires": [
            [
                "1ed80b9a8975da2d"
            ]
        ]
    },
    {
        "id": "1b55a569db1a65bb",
        "type": "link call",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "",
        "links": [
            "e8be6e48bc564a0b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 599.333251953125,
        "y": 996.666748046875,
        "wires": [
            [
                "ba12938804f8c670"
            ]
        ]
    },
    {
        "id": "658a813087e8c163",
        "type": "inject",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 128.333251953125,
        "y": 752.666748046875,
        "wires": [
            [
                "1b55a569db1a65bb"
            ]
        ]
    },
    {
        "id": "ba12938804f8c670",
        "type": "debug",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "debug 178",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1294.333251953125,
        "y": 741.666748046875,
        "wires": []
    },
    {
        "id": "1d684ddc7f7f8355",
        "type": "debug",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "debug 180",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 814,
        "y": 222,
        "wires": []
    },
    {
        "id": "983a7a1d8f4996ef",
        "type": "catch",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 536,
        "y": 127,
        "wires": [
            [
                "1d684ddc7f7f8355"
            ]
        ]
    },
    {
        "id": "b0194284097d856c",
        "type": "catch",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1066,
        "y": 359,
        "wires": [
            []
        ]
    },
    {
        "id": "0638a2ba33801a3a",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "3541d7b242989f17",
        "name": "function 31",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 981,
        "y": 296,
        "wires": [
            []
        ]
    },
    {
        "id": "8cde6772c4db3d97",
        "type": "group",
        "z": "c7d40a2eacbeb56e",
        "name": "result of \"coalesce link call nodes\" only.",
        "style": {
            "label": true
        },
        "nodes": [
            "0bdbe9c00bc87270",
            "be9d7f9c1f7e6d36",
            "dd032f3b5335484e",
            "4be696a8c45a4811",
            "a8581bc5b135edc9",
            "b0a49c7e838b0c42",
            "09e0de8993a9d389",
            "97ab9003e63b7362",
            "2e40763646e416b9",
            "250a2639dc077746",
            "1464757b8bdc7ddb",
            "e7cd5a3aea164f6c",
            "3b15017bfbfa2aaf",
            "a01634173f88efe0",
            "bd5e81f3fc2b50c8",
            "bbcc6c1839088d61"
        ],
        "x": 74.99997329711914,
        "y": 1253.3332786560059,
        "w": 1388,
        "h": 951.666748046875
    },
    {
        "id": "0bdbe9c00bc87270",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "function 32",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 267,
        "y": 1745,
        "wires": [
            [
                "be9d7f9c1f7e6d36"
            ]
        ]
    },
    {
        "id": "be9d7f9c1f7e6d36",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "function 33",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 469,
        "y": 1627,
        "wires": [
            [
                "dd032f3b5335484e"
            ]
        ]
    },
    {
        "id": "dd032f3b5335484e",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "function 34",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 738,
        "y": 1735,
        "wires": [
            [
                "a8581bc5b135edc9"
            ]
        ]
    },
    {
        "id": "4be696a8c45a4811",
        "type": "catch",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "",
        "scope": [
            "0bdbe9c00bc87270",
            "be9d7f9c1f7e6d36",
            "e7cd5a3aea164f6c"
        ],
        "uncaught": false,
        "x": 559.9999732971191,
        "y": 1488.9999961853027,
        "wires": [
            [
                "a8581bc5b135edc9",
                "dd032f3b5335484e",
                "2e40763646e416b9"
            ]
        ]
    },
    {
        "id": "a8581bc5b135edc9",
        "type": "link out",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "link out 134",
        "mode": "return",
        "links": [],
        "x": 1007,
        "y": 1735,
        "wires": []
    },
    {
        "id": "b0a49c7e838b0c42",
        "type": "link in",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "link in 7",
        "links": [],
        "x": 153.00000381469727,
        "y": 1477.9999961853027,
        "wires": [
            [
                "0bdbe9c00bc87270"
            ]
        ]
    },
    {
        "id": "09e0de8993a9d389",
        "type": "inject",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180.99997329711914,
        "y": 1920.0000267028809,
        "wires": [
            [
                "3b15017bfbfa2aaf"
            ]
        ]
    },
    {
        "id": "97ab9003e63b7362",
        "type": "debug",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "debug 181",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1346.9999732971191,
        "y": 1909.0000267028809,
        "wires": []
    },
    {
        "id": "2e40763646e416b9",
        "type": "debug",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "debug 182",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 866.6667213439941,
        "y": 1389.3332786560059,
        "wires": []
    },
    {
        "id": "250a2639dc077746",
        "type": "catch",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 588.6667213439941,
        "y": 1294.3332786560059,
        "wires": [
            [
                "2e40763646e416b9"
            ]
        ]
    },
    {
        "id": "1464757b8bdc7ddb",
        "type": "catch",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1118.6667213439941,
        "y": 1526.3332786560059,
        "wires": [
            []
        ]
    },
    {
        "id": "e7cd5a3aea164f6c",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "function 35",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1033.6667213439941,
        "y": 1463.3332786560059,
        "wires": [
            []
        ]
    },
    {
        "id": "3b15017bfbfa2aaf",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "function 36",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 651.9999732971191,
        "y": 2164.000026702881,
        "wires": [
            [
                "a01634173f88efe0"
            ]
        ]
    },
    {
        "id": "a01634173f88efe0",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "function 37",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 853.9999732971191,
        "y": 2046.0000267028809,
        "wires": [
            [
                "bd5e81f3fc2b50c8"
            ]
        ]
    },
    {
        "id": "bd5e81f3fc2b50c8",
        "type": "function",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "function 38",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1122.9999732971191,
        "y": 2154.000026702881,
        "wires": [
            [
                "97ab9003e63b7362"
            ]
        ]
    },
    {
        "id": "bbcc6c1839088d61",
        "type": "catch",
        "z": "c7d40a2eacbeb56e",
        "g": "8cde6772c4db3d97",
        "name": "",
        "scope": [
            "e7cd5a3aea164f6c",
            "3b15017bfbfa2aaf",
            "a01634173f88efe0"
        ],
        "uncaught": false,
        "x": 944.9999465942383,
        "y": 1908.0000228881836,
        "wires": [
            [
                "97ab9003e63b7362",
                "bd5e81f3fc2b50c8",
                "2e40763646e416b9"
            ]
        ]
    }
]