examples/seeker-sink.json
[
    {
        "id": "6bab6804614c2612",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f6116ea2b105a8b",
        "type": "subflow",
        "name": "add dont spam me link",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 181,
                "y": 139.5,
                "wires": [
                    {
                        "id": "8116a126d363a248"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 841,
                "y": 139.5,
                "wires": [
                    {
                        "id": "8116a126d363a248",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#E7E7AE",
        "icon": "node-red/envelope.svg"
    },
    {
        "id": "e8bbdc11f1fc0dd8",
        "type": "subflow",
        "name": "GATEWAY: payload ok?",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 70,
                "y": 80,
                "wires": [
                    {
                        "id": "b843b09e915a1928"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 427,
                "y": 74,
                "wires": [
                    {
                        "id": "b843b09e915a1928",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#D7D7A0",
        "icon": "font-awesome/fa-map-signs"
    },
    {
        "id": "fe3f79f21ce302bc",
        "type": "subflow",
        "name": "Node-RED",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            },
            {
                "x": 215,
                "y": 30,
                "wires": []
            },
            {
                "x": 270,
                "y": 30,
                "wires": []
            },
            {
                "x": 325,
                "y": 30,
                "wires": []
            },
            {
                "x": 380,
                "y": 30,
                "wires": []
            },
            {
                "x": 435,
                "y": 30,
                "wires": []
            }
        ],
        "env": [],
        "meta": {},
        "color": "red",
        "icon": "font-awesome/fa-registered"
    },
    {
        "id": "7a6324f7fd2436d1",
        "type": "group",
        "z": "6bab6804614c2612",
        "name": "not found",
        "style": {
            "label": true,
            "label-position": "sw",
            "color": "#000000"
        },
        "nodes": [
            "e1b0724e61924dba",
            "caf61359be50bf6f",
            "2b1fc6169ecbb5cd",
            "8a48031b3d517039",
            "9ae5a4ddd9d2ec17",
            "7db6fb278287c73c",
            "e7a195c6ac26cb20"
        ],
        "x": 125.4445104598999,
        "y": 1223.4265775680542,
        "w": 2581.451729774475,
        "h": 90
    },
    {
        "id": "3177d6c9a84b07ad",
        "type": "group",
        "z": "6bab6804614c2612",
        "name": "not found",
        "style": {
            "label": true,
            "label-position": "sw",
            "color": "#000000"
        },
        "nodes": [
            "7a7fe72c74429d2d",
            "f82076d2d8926cfb",
            "9161b8e24fc9b96b"
        ],
        "x": 1218,
        "y": 611.444580078125,
        "w": 943.5,
        "h": 90
    },
    {
        "id": "9969b30d869201d8",
        "type": "group",
        "z": "6bab6804614c2612",
        "name": "Send Verification Email",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e372772cfbb59b9c",
            "7e1fdd1358625e6b",
            "bcb8cc00ad1fddd5",
            "728b41cdc2db124f",
            "15cd4fe283a32563",
            "a751fedc12c69357",
            "808ccf3ff61f71fb",
            "30f35c3706f7e73a",
            "449601abfe35007d",
            "eae85c0e14c8e75a",
            "efed77b7b393022f",
            "ea31119eb7bd67a6",
            "6354755fd1859629"
        ],
        "x": 107.44091796875,
        "y": 1582.0001249313354,
        "w": 1350.558982849121,
        "h": 230.99987506866455
    },
    {
        "id": "c402f821d1e47bb7",
        "type": "group",
        "z": "6bab6804614c2612",
        "name": "Resend Verification Email",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2f8ce9b086c68242",
            "2826ddd04420b144",
            "c11b6bd71ce583e3",
            "0e3b4533c3eaa98b",
            "8deb22cd14041cb2",
            "3483e7b4fb48b41b",
            "341d12e103dc8526",
            "643213478716e634",
            "89d8b3214924329e",
            "cc220af0679522fb",
            "c25b78919ebc3bd9",
            "0c12bbfce1102852",
            "b6bd1160913b630a",
            "49f9f2430341c884"
        ],
        "x": 108.44091796875,
        "y": 1887.0001249313354,
        "w": 1552.558982849121,
        "h": 279.999755859375
    },
    {
        "id": "85672f28419095b4",
        "type": "postgreSQLConfig",
        "name": "bnbc",
        "host": "PGHOST",
        "hostFieldType": "env",
        "port": "5432",
        "portFieldType": "num",
        "database": "PGDBNAME",
        "databaseFieldType": "env",
        "ssl": "PGSSLMODE",
        "sslFieldType": "env",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "PGUSERNAME",
        "userFieldType": "env",
        "password": "PGPASSWORD",
        "passwordFieldType": "env"
    },
    {
        "id": "8116a126d363a248",
        "type": "function",
        "z": "1f6116ea2b105a8b",
        "name": "create dont spam me link",
        "func": "// only create a dont-spam-me link if the email is only\n// going to one user. Else the CC-user could use\n// the link to block the TO-user\nif ( !(\"cc_email\" in msg.email) ) {\n\n  var encData = global.get(\"encrypt\")(JSON.stringify({\n    em: msg.email.to_email,\n    ts: Date.now()\n  }));\n \n  msg.email.data.dont = {\n    spamMeLink: global.get(\"url_dontspammelink\")({\n      d: encData\n    })\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 498,
        "y": 139.5,
        "wires": [
            []
        ]
    },
    {
        "id": "b843b09e915a1928",
        "type": "switch",
        "z": "e8bbdc11f1fc0dd8",
        "name": "",
        "property": "status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "db_check",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "missing_data",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 80,
        "wires": [
            [],
            [
                "a0e47f0b6400dad9"
            ]
        ]
    },
    {
        "id": "a0e47f0b6400dad9",
        "type": "http response",
        "z": "e8bbdc11f1fc0dd8",
        "name": "error: missing parameters",
        "statusCode": "",
        "headers": {},
        "x": 338.99993896484375,
        "y": 176.00001525878906,
        "wires": []
    },
    {
        "id": "f4fee739bb3b20bd",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api/:path1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1012.000205039978,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "30f7cbe1e25e67a1",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "POST handler",
        "property": "req.params.path1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "proposals",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "users",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "proposal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bid",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "user",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1098.9999923706055,
        "y": 1030.000566482544,
        "wires": [
            [
                "7db6fb278287c73c"
            ],
            [
                "7db6fb278287c73c"
            ],
            [
                "7fea0bddb82386e1"
            ],
            [
                "95be9dbff7197b8d"
            ],
            [
                "c22718ee962f7f66"
            ],
            [
                "7db6fb278287c73c"
            ]
        ]
    },
    {
        "id": "c67da00652f9e5da",
        "type": "http response",
        "z": "6bab6804614c2612",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1271.000244140625,
        "y": 1348.0001220703125,
        "wires": []
    },
    {
        "id": "1f9f2326b57594a8",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "cdfe0a2804636784"
        ],
        "x": 1889.500605583191,
        "y": 454.00020122528076,
        "wires": []
    },
    {
        "id": "1afda7340dcb7174",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "33d7ea129f06d293"
        ],
        "x": 1617.500244140625,
        "y": 311.0001525878906,
        "wires": []
    },
    {
        "id": "2aba07ab6a5ae942",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api/:path1/:path2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 959.0002021789551,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "0a61af4ae49e7114",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api/:path1/:path2/:path3",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 906.0001411437988,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "d2e344f5e0f43775",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "auctions handler",
        "property": "req.params.path2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "all",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1399.89599609375,
        "y": 319.0001525878906,
        "wires": [
            [
                "1afda7340dcb7174"
            ],
            [
                "7a7fe72c74429d2d"
            ]
        ]
    },
    {
        "id": "1229cb58e46b1655",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "proposal handler",
        "property": "req.params.path2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^[a-z0-9-]{36}$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1390.89599609375,
        "y": 463.0001516342163,
        "wires": [
            [
                "47562c652d157fb8"
            ],
            [
                "7a7fe72c74429d2d"
            ]
        ]
    },
    {
        "id": "47562c652d157fb8",
        "type": "function",
        "z": "6bab6804614c2612",
        "name": "set uuid parameter",
        "func": "msg.req.params[\"uuid\"] = msg.req.params.path2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1739.5001335144043,
        "y": 454.0000858306885,
        "wires": [
            [
                "1f9f2326b57594a8"
            ]
        ]
    },
    {
        "id": "44d58fb29ae6f47c",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1055.0002145767212,
        "wires": [
            [
                "e7a195c6ac26cb20"
            ]
        ]
    },
    {
        "id": "18ca9448fedf3cad",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "users handler",
        "property": "req.params.path2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "all",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^[a-z0-9-]{36}$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1400.89599609375,
        "y": 395.0001554489136,
        "wires": [
            [
                "1d5f6b6492a9696d"
            ],
            [
                "b90166b1f2c9cf90"
            ],
            [
                "7a7fe72c74429d2d"
            ]
        ]
    },
    {
        "id": "1d5f6b6492a9696d",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "48669bbc4153ba14"
        ],
        "x": 1618.500244140625,
        "y": 382.0001525878906,
        "wires": []
    },
    {
        "id": "72022eecbbf00bae",
        "type": "function",
        "z": "6bab6804614c2612",
        "name": "not implemented",
        "func": "var pa = msg.req.params;\n\nmsg.statusCode = 501;\nmsg.payload = JSON.stringify({\n    status: \"not_implemented\",\n    msg: \"TODO functionality\",\n    path: msg.req.originalUrl\n})\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2472.0001831054688,
        "y": 813.0002365112305,
        "wires": [
            [
                "bda4160f097a2c6e"
            ]
        ]
    },
    {
        "id": "f76d97aba04cbac2",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api/:path1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 681.0000400543213,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "6afac68ec0ec475b",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api/:path1/:path2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 621.0000610351562,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "51486da0f5b903f2",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api/:path1/:path2/:path3",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 570.0000610351562,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "edb8c2587e0be726",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 724.0000982284546,
        "wires": [
            [
                "e7a195c6ac26cb20"
            ]
        ]
    },
    {
        "id": "72ba23fc668f9ff3",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "method",
        "property": "req.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GET",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "POST",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 851.8960189819336,
        "y": 1029.8895378112793,
        "wires": [
            [
                "2324639fdcd82313"
            ],
            [
                "30f7cbe1e25e67a1"
            ],
            [
                "e1b0724e61924dba"
            ]
        ]
    },
    {
        "id": "ecbf7d99ebf40ae6",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "post new offer",
        "mode": "link",
        "links": [
            "25e513171ea468df"
        ],
        "x": 1631.500244140625,
        "y": 758.4242076873779,
        "wires": []
    },
    {
        "id": "2324639fdcd82313",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "GET handler",
        "property": "req.params.path1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "auctions",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "users",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "proposal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bid",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 1105.8958320617676,
        "y": 507.88905239105225,
        "wires": [
            [
                "d2e344f5e0f43775"
            ],
            [
                "18ca9448fedf3cad"
            ],
            [
                "1229cb58e46b1655"
            ],
            [
                "8e43e02fa1211f7a"
            ],
            [
                "9161b8e24fc9b96b"
            ]
        ]
    },
    {
        "id": "7fea0bddb82386e1",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "proposal handler",
        "property": "req.params.path2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "new",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "make_decision",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^[a-z0-9-]{36}$",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1399.8959503173828,
        "y": 810.8891887664795,
        "wires": [
            [
                "ecbf7d99ebf40ae6"
            ],
            [
                "22f7cee45229ccb3"
            ],
            [
                "72022eecbbf00bae"
            ],
            [
                "2b1fc6169ecbb5cd"
            ]
        ]
    },
    {
        "id": "7033b13b3b260799",
        "type": "debug",
        "z": "6bab6804614c2612",
        "name": "NOT FOUND",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1269.437744140625,
        "y": 1397.1737060546875,
        "wires": []
    },
    {
        "id": "95be9dbff7197b8d",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "bid handler",
        "property": "req.params.path2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "new",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1419.8959503173828,
        "y": 917.8891220092773,
        "wires": [
            [
                "f6d9da295c4da5e2"
            ],
            [
                "2b1fc6169ecbb5cd"
            ]
        ]
    },
    {
        "id": "f6d9da295c4da5e2",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "post new bid",
        "mode": "link",
        "links": [
            "a1071b9d620c40d4"
        ],
        "x": 1631.500244140625,
        "y": 911.4239501953125,
        "wires": []
    },
    {
        "id": "c22718ee962f7f66",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "user handler",
        "property": "req.params.path2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "send",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "register",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "verify",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "login",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dontspamme",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1419.8959503173828,
        "y": 996.8890571594238,
        "wires": [
            [
                "bd67c779e9aa37a5"
            ],
            [
                "12263fbf60fc80ed"
            ],
            [
                "be657c29d3425c5c"
            ],
            [
                "16ba48ebfc74abfe"
            ],
            [
                "f92db90af07d277d"
            ],
            [
                "2b1fc6169ecbb5cd"
            ]
        ]
    },
    {
        "id": "12263fbf60fc80ed",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "142126c28ee25935"
        ],
        "x": 1631.500244140625,
        "y": 956.4171142578125,
        "wires": []
    },
    {
        "id": "67a6c6d109f9d6ee",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "ea533ff22bb9c6f9"
        ],
        "x": 2167.5,
        "y": 900.41357421875,
        "wires": []
    },
    {
        "id": "425572e5387b5464",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api/:path1/:path2/:path3/:path4",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 520.8888721466064,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "bd67c779e9aa37a5",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "/user/send handler",
        "property": "req.params.path3",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "verify",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1946.896240234375,
        "y": 873.88916015625,
        "wires": [
            [
                "2d3b572634f410e7"
            ],
            [
                "9ae5a4ddd9d2ec17"
            ]
        ]
    },
    {
        "id": "2d3b572634f410e7",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "/user/send/verify handler",
        "property": "req.params.path4",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "email",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 2445.8964233398438,
        "y": 864.889102935791,
        "wires": [
            [
                "4969a16e91003ab7"
            ],
            [
                "8a48031b3d517039"
            ]
        ]
    },
    {
        "id": "4969a16e91003ab7",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "30f35c3706f7e73a"
        ],
        "x": 2728.895751953125,
        "y": 858.4169311523438,
        "wires": []
    },
    {
        "id": "f956209cbf4d46fc",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/api/:path1/:path2/:path3/:path4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 857.88916015625,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "16ba48ebfc74abfe",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "/user/login handler",
        "property": "req.params.path3",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "email",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loginlink",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1948.896728515625,
        "y": 1035.889536857605,
        "wires": [
            [
                "f0be3c092017e815"
            ],
            [
                "bd62767f7ff71151"
            ],
            [
                "9ae5a4ddd9d2ec17"
            ]
        ]
    },
    {
        "id": "665ee29e0b215e86",
        "type": "comment",
        "z": "6bab6804614c2612",
        "name": ":path1 Handlers",
        "info": "",
        "x": 1065.4445419311523,
        "y": 193.7535104751587,
        "wires": []
    },
    {
        "id": "3ab64107f8cdd28c",
        "type": "comment",
        "z": "6bab6804614c2612",
        "name": ":path2 Handlers",
        "info": "",
        "x": 1415.895751953125,
        "y": 193.7535104751587,
        "wires": []
    },
    {
        "id": "a3557dcfe0c75094",
        "type": "comment",
        "z": "6bab6804614c2612",
        "name": ":path3 Handlers",
        "info": "",
        "x": 1955.896011352539,
        "y": 193.7535104751587,
        "wires": []
    },
    {
        "id": "d35d554efa6ab3a3",
        "type": "comment",
        "z": "6bab6804614c2612",
        "name": ":path4 Handlers",
        "info": "",
        "x": 2455.895980834961,
        "y": 193.7535104751587,
        "wires": []
    },
    {
        "id": "f0be3c092017e815",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "/user/login/email handler",
        "property": "req.params.path4",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "eq",
                "v": "send",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "verify",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 2451.89599609375,
        "y": 1019.8892211914062,
        "wires": [
            [
                "eca71e1253370760"
            ],
            [
                "dce7b5d86c4942c0"
            ],
            [
                "7858cc0284b46f93"
            ],
            [
                "8a48031b3d517039"
            ]
        ]
    },
    {
        "id": "eca71e1253370760",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "8fb5538bb33154af"
        ],
        "x": 2728.895751953125,
        "y": 960.4204511642456,
        "wires": []
    },
    {
        "id": "dce7b5d86c4942c0",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "654a727d5e73414e"
        ],
        "x": 2728.895751953125,
        "y": 1015.8891143798828,
        "wires": []
    },
    {
        "id": "7858cc0284b46f93",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "317a9744536713d7"
        ],
        "x": 2728.895751953125,
        "y": 1062.8891620635986,
        "wires": []
    },
    {
        "id": "8e43e02fa1211f7a",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "bid handler",
        "property": "req.params.path2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^[a-z0-9-]{36}$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1410.89599609375,
        "y": 521.8892211914062,
        "wires": [
            [
                "da4018f1e5b957f4"
            ],
            [
                "7a7fe72c74429d2d"
            ]
        ]
    },
    {
        "id": "da4018f1e5b957f4",
        "type": "function",
        "z": "6bab6804614c2612",
        "name": "set uuid parameter",
        "func": "msg.req.params[\"uuid\"] = msg.req.params.path2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1734.34033203125,
        "y": 512.8890075683594,
        "wires": [
            [
                "bc24ba877367af6d"
            ]
        ]
    },
    {
        "id": "bc24ba877367af6d",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "5454979b74efae5c"
        ],
        "x": 1887.8960590362549,
        "y": 513.4203195571899,
        "wires": []
    },
    {
        "id": "bd62767f7ff71151",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 30",
        "mode": "link",
        "links": [
            "3723b83281660ef9"
        ],
        "x": 2167.5,
        "y": 1036.8682661056519,
        "wires": []
    },
    {
        "id": "be657c29d3425c5c",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "/user/verify handler",
        "property": "req.params.path3",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "eq",
                "v": "resend",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "linkdata",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1946.5625534057617,
        "y": 949.4445123672485,
        "wires": [
            [
                "67a6c6d109f9d6ee"
            ],
            [
                "2c1745a0ae9a4dd5"
            ],
            [
                "1bbf79a70fcd216c"
            ],
            [
                "9ae5a4ddd9d2ec17"
            ]
        ]
    },
    {
        "id": "1bbf79a70fcd216c",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "87bcec7ef2a78fca"
        ],
        "x": 2167.5,
        "y": 982.9758911132812,
        "wires": []
    },
    {
        "id": "bda4160f097a2c6e",
        "type": "http response",
        "z": "6bab6804614c2612",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2660.0072479248047,
        "y": 813.7777948379517,
        "wires": []
    },
    {
        "id": "7dce3e0bfeda5ea8",
        "type": "function",
        "z": "6bab6804614c2612",
        "name": "check auth",
        "func": "\nif (msg.req.get(\"X-Auth\") == env.get(\"API_TOKEN\")) {\n    msg.status = \"ok\"\n} else {\n    msg.status = \"auth token mismatch\";\n    msg.req_token = msg.req.get(\"X-Auth\");\n    msg.our_token = env.get(\"API_TOKEN\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 654.4446411132812,
        "y": 852.7995796203613,
        "wires": [
            [
                "2e37bc0b86b9c0a7",
                "9bd7b0fa14d4eac3"
            ]
        ]
    },
    {
        "id": "2e37bc0b86b9c0a7",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "",
        "property": "status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ok",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 447.0078125,
        "y": 1038.1563110351562,
        "wires": [
            [
                "023380a141fabe09"
            ],
            [
                "e1b0724e61924dba"
            ]
        ]
    },
    {
        "id": "9bd7b0fa14d4eac3",
        "type": "debug",
        "z": "6bab6804614c2612",
        "d": true,
        "name": "AUTH DEBUG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 853.4479522705078,
        "y": 747.2743,
        "wires": []
    },
    {
        "id": "22f7cee45229ccb3",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 33",
        "mode": "link",
        "links": [
            "2349281462e6046f"
        ],
        "x": 1631.500244140625,
        "y": 797.5244140625,
        "wires": []
    },
    {
        "id": "023380a141fabe09",
        "type": "change",
        "z": "6bab6804614c2612",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "origpayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 651,
        "y": 1031,
        "wires": [
            [
                "72ba23fc668f9ff3"
            ]
        ]
    },
    {
        "id": "f92db90af07d277d",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 38",
        "mode": "link",
        "links": [
            "ab0aaf85f16dbce9"
        ],
        "x": 1631.500244140625,
        "y": 1038,
        "wires": []
    },
    {
        "id": "8646c460694154a1",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/:path1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 779.0001029968262,
        "wires": [
            [
                "e7a195c6ac26cb20"
            ]
        ]
    },
    {
        "id": "a559d962c2f36fd7",
        "type": "http in",
        "z": "6bab6804614c2612",
        "name": "",
        "url": "/:path1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1099.000244140625,
        "wires": [
            [
                "e7a195c6ac26cb20"
            ]
        ]
    },
    {
        "id": "85cea02b9059e748",
        "type": "switch",
        "z": "6bab6804614c2612",
        "name": "/users/:uuid/ handler",
        "property": "req.params.path3",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "eq",
                "v": "proposals",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1958.0000114440918,
        "y": 399.00005531311035,
        "wires": [
            [
                "e876efb8d4a9f5fb"
            ],
            [
                "65a118bcc5a773cd"
            ],
            [
                "f82076d2d8926cfb"
            ]
        ]
    },
    {
        "id": "b90166b1f2c9cf90",
        "type": "function",
        "z": "6bab6804614c2612",
        "name": "set uuid parameter",
        "func": "msg.req.params[\"uuid\"] = msg.req.params.path2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1741.0000114440918,
        "y": 398.00005531311035,
        "wires": [
            [
                "85cea02b9059e748"
            ]
        ]
    },
    {
        "id": "65a118bcc5a773cd",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 42",
        "mode": "link",
        "links": [
            "66e4187b8646b82e"
        ],
        "x": 2224.500011444092,
        "y": 422.00005531311035,
        "wires": []
    },
    {
        "id": "e876efb8d4a9f5fb",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 43",
        "mode": "link",
        "links": [
            "09089e06e0208be6"
        ],
        "x": 2224.500011444092,
        "y": 385.00005531311035,
        "wires": []
    },
    {
        "id": "2c1745a0ae9a4dd5",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 61",
        "mode": "link",
        "links": [
            "6aa9ebe23a27c971",
            "341d12e103dc8526"
        ],
        "x": 2167.5,
        "y": 942,
        "wires": []
    },
    {
        "id": "8d6fee12e9fe1d4e",
        "type": "Seeker",
        "z": "6bab6804614c2612",
        "name": "",
        "x": 281,
        "y": 234,
        "wires": [
            [
                "7dce3e0bfeda5ea8"
            ]
        ]
    },
    {
        "id": "e1b0724e61924dba",
        "type": "function",
        "z": "6bab6804614c2612",
        "g": "7a6324f7fd2436d1",
        "name": "not found",
        "func": "msg.statusCode = 404;\nmsg.payload = {\n    status: \"not_found\",\n    msg: \"page not found\",\n    path: msg.req.originalUrl\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1076.500244140625,
        "y": 1264.4265775680542,
        "wires": [
            [
                "c67da00652f9e5da",
                "7033b13b3b260799"
            ]
        ]
    },
    {
        "id": "caf61359be50bf6f",
        "type": "link in",
        "z": "6bab6804614c2612",
        "g": "7a6324f7fd2436d1",
        "name": "API NOT FOUND",
        "links": [
            "e7a195c6ac26cb20",
            "7a7fe72c74429d2d",
            "2b1fc6169ecbb5cd",
            "8a48031b3d517039",
            "9ae5a4ddd9d2ec17",
            "16ce1ec17155ded0",
            "f82076d2d8926cfb",
            "7db6fb278287c73c",
            "9161b8e24fc9b96b"
        ],
        "x": 750.4376831054688,
        "y": 1264.4265775680542,
        "wires": [
            [
                "e1b0724e61924dba"
            ]
        ]
    },
    {
        "id": "2b1fc6169ecbb5cd",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "7a6324f7fd2436d1",
        "name": "NOT FOUND",
        "mode": "link",
        "links": [
            "caf61359be50bf6f"
        ],
        "x": 1576.4453125,
        "y": 1264.4265775680542,
        "wires": []
    },
    {
        "id": "8a48031b3d517039",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "7a6324f7fd2436d1",
        "name": "NOT FOUND",
        "mode": "link",
        "links": [
            "caf61359be50bf6f"
        ],
        "x": 2665.896240234375,
        "y": 1264.4265775680542,
        "wires": []
    },
    {
        "id": "9ae5a4ddd9d2ec17",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "7a6324f7fd2436d1",
        "name": "NOT FOUND",
        "mode": "link",
        "links": [
            "caf61359be50bf6f"
        ],
        "x": 2120.8958740234375,
        "y": 1264.4265775680542,
        "wires": []
    },
    {
        "id": "7db6fb278287c73c",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "7a6324f7fd2436d1",
        "name": "NOT FOUND",
        "mode": "link",
        "links": [
            "caf61359be50bf6f"
        ],
        "x": 1263,
        "y": 1264.4265775680542,
        "wires": []
    },
    {
        "id": "e7a195c6ac26cb20",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "7a6324f7fd2436d1",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "caf61359be50bf6f"
        ],
        "x": 166.4445104598999,
        "y": 1264.4265775680542,
        "wires": []
    },
    {
        "id": "7a7fe72c74429d2d",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "3177d6c9a84b07ad",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "caf61359be50bf6f"
        ],
        "x": 1578.500244140625,
        "y": 652.444580078125,
        "wires": []
    },
    {
        "id": "f82076d2d8926cfb",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "3177d6c9a84b07ad",
        "name": "link out 41",
        "mode": "link",
        "links": [
            "caf61359be50bf6f"
        ],
        "x": 2120.5,
        "y": 652.444580078125,
        "wires": []
    },
    {
        "id": "9161b8e24fc9b96b",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "3177d6c9a84b07ad",
        "name": "link out 44",
        "mode": "link",
        "links": [
            "caf61359be50bf6f"
        ],
        "x": 1259,
        "y": 652.444580078125,
        "wires": []
    },
    {
        "id": "e372772cfbb59b9c",
        "type": "postgresql",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "update user_verification set email_sent_at",
        "query": "UPDATE user_verification\nset email_sent_at = NOW()\nwhere user_uuid = '{{ msg.payload.user_uuid }}'\nand code = '{{ msg.payload.verification_code }}'\nreturning user_uuid\n;",
        "postgreSQLConfig": "85672f28419095b4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 340,
        "y": 1748,
        "wires": [
            [
                "a751fedc12c69357",
                "6354755fd1859629"
            ]
        ]
    },
    {
        "id": "7e1fdd1358625e6b",
        "type": "catch",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "",
        "scope": [
            "e372772cfbb59b9c"
        ],
        "uncaught": false,
        "x": 482.9999084472656,
        "y": 1772,
        "wires": [
            [
                "bcb8cc00ad1fddd5"
            ]
        ]
    },
    {
        "id": "bcb8cc00ad1fddd5",
        "type": "function",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "sending too many emails to single email address",
        "func": "msg.payload = {\n    status: \"failed\",\n    msg: \"too many emails\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 955.9999008178711,
        "y": 1771.000002861023,
        "wires": [
            [
                "efed77b7b393022f"
            ]
        ]
    },
    {
        "id": "728b41cdc2db124f",
        "type": "function",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "setup response, email data and verify link",
        "func": "msg.user = msg.payload[0];\n\nvar encData = global.get(\"encrypt\")(JSON.stringify({\n    uu: msg.user.uuid,\n    vc: msg.origpayload.verification_code\n}));\n\nmsg.email = {\n    to_email: msg.payload[0].email,\n    data: {\n        verifyLink: global.get(\"url_verifylink\")({ d: encData })\n    }\n};\n\nmsg.payload = {\n    status: \"ok\",\n    msg: \"email sent\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1118.0000534057617,
        "y": 1623.0001754760742,
        "wires": [
            [
                "449601abfe35007d",
                "efed77b7b393022f"
            ]
        ]
    },
    {
        "id": "15cd4fe283a32563",
        "type": "postgresql",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "get user",
        "query": "SELECT * \nFROM users\nwhere uuid = '{{#msg.payload}}{{user_uuid}}{{/msg.payload}}'\n;\n",
        "postgreSQLConfig": "85672f28419095b4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 835.9999618530273,
        "y": 1623.0001249313354,
        "wires": [
            [
                "728b41cdc2db124f"
            ]
        ]
    },
    {
        "id": "a751fedc12c69357",
        "type": "switch",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "rowCount",
        "property": "pgsql.rowCount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 622.9999618530273,
        "y": 1635.000002861023,
        "wires": [
            [
                "15cd4fe283a32563"
            ],
            [
                "808ccf3ff61f71fb"
            ],
            [
                "bcb8cc00ad1fddd5"
            ]
        ]
    },
    {
        "id": "808ccf3ff61f71fb",
        "type": "function",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "invalid verification code",
        "func": "msg.payload = {\n    status: \"failed\",\n    msg: \"invalid verification code\"\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 886.9999618530273,
        "y": 1698.0001249313354,
        "wires": [
            [
                "efed77b7b393022f"
            ]
        ]
    },
    {
        "id": "30f35c3706f7e73a",
        "type": "link in",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "[api] send verify email",
        "links": [
            "fb24616382b60b38",
            "4969a16e91003ab7"
        ],
        "x": 148.44091796875,
        "y": 1634.8855590820312,
        "wires": [
            [
                "eae85c0e14c8e75a"
            ]
        ]
    },
    {
        "id": "449601abfe35007d",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "06c98db054f5e440"
        ],
        "x": 1390.2257537841797,
        "y": 1623.420069694519,
        "wires": []
    },
    {
        "id": "eae85c0e14c8e75a",
        "type": "function",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "check parameters",
        "func": "var payload = msg.payload;\n\nif ( payload.verification_code && payload.user_uuid ) {\n    msg.status = \"db_check\";\n} else {\n    msg.status = \"missing_data\";\n    msg.payload = {\n            status: \"error\",\n            msg: \"something missing\"\n        };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 298.9999084472656,
        "y": 1633.9998779296875,
        "wires": [
            [
                "ea31119eb7bd67a6"
            ]
        ]
    },
    {
        "id": "efed77b7b393022f",
        "type": "http response",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1381.999900817871,
        "y": 1694.9998807907104,
        "wires": []
    },
    {
        "id": "ea31119eb7bd67a6",
        "type": "subflow:e8bbdc11f1fc0dd8",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "",
        "x": 315.4999008178711,
        "y": 1690.9998807907104,
        "wires": [
            [
                "e372772cfbb59b9c"
            ]
        ]
    },
    {
        "id": "6354755fd1859629",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "9969b30d869201d8",
        "name": "link out 54",
        "mode": "link",
        "links": [
            "0a8b1a95c8e544b9"
        ],
        "x": 577.9999008178711,
        "y": 1747.9998807907104,
        "wires": []
    },
    {
        "id": "2f8ce9b086c68242",
        "type": "postgresql",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "update user_verification set email_sent_at",
        "query": "UPDATE user_verification\nset email_sent_at = NOW()\nwhere user_uuid = ( select uuid \n                    from users \n                    where email = lower('{{ msg.payload.email }}') )\nreturning user_uuid, code\n;",
        "postgreSQLConfig": "85672f28419095b4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 341,
        "y": 2100,
        "wires": [
            [
                "3483e7b4fb48b41b",
                "0c12bbfce1102852"
            ]
        ]
    },
    {
        "id": "2826ddd04420b144",
        "type": "catch",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "",
        "scope": [
            "2f8ce9b086c68242"
        ],
        "uncaught": false,
        "x": 483.9999084472656,
        "y": 2124,
        "wires": [
            [
                "c11b6bd71ce583e3"
            ]
        ]
    },
    {
        "id": "c11b6bd71ce583e3",
        "type": "function",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "sending too many emails to single email address",
        "func": "msg.payload = {\n    status: \"failed\",\n    msg: \"too many emails\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 884.9998779296875,
        "y": 2125,
        "wires": [
            [
                "cc220af0679522fb"
            ]
        ]
    },
    {
        "id": "0e3b4533c3eaa98b",
        "type": "function",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "setup response, email data and verify link",
        "func": "msg.user = msg.payload[0];\n\nvar encData = global.get(\"encrypt\")(JSON.stringify({\n    uu: msg.user.uuid,\n    vc: msg.user.code\n}));\n\nmsg.origpayload = {\n    verification_code: msg.user.code\n}\n\nmsg.email = {\n    to_email: msg.user.email,\n    data: {\n        verifyLink: global.get(\"url_verifylink\")({ d: encData })\n    }\n};\n\nmsg.payload = {\n    status: \"ok\",\n    msg: \"email sent\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330.0000228881836,
        "y": 1982.0001249313354,
        "wires": [
            [
                "643213478716e634",
                "cc220af0679522fb"
            ]
        ]
    },
    {
        "id": "8deb22cd14041cb2",
        "type": "postgresql",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "get user",
        "query": "SELECT \n  u.* ,\n  '{{#msg.payload}}{{code}}{{/msg.payload}}' as code\nFROM \n  users u\nwhere \n  uuid = '{{#msg.payload}}{{user_uuid}}{{/msg.payload}}'\n;\n",
        "postgreSQLConfig": "85672f28419095b4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1083.9999618530273,
        "y": 1928.0001249313354,
        "wires": [
            [
                "0e3b4533c3eaa98b"
            ]
        ]
    },
    {
        "id": "3483e7b4fb48b41b",
        "type": "switch",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "rowCount",
        "property": "pgsql.rowCount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 617.9999618530273,
        "y": 1940.000002861023,
        "wires": [
            [
                "8deb22cd14041cb2"
            ],
            [
                "b6bd1160913b630a"
            ],
            [
                "c11b6bd71ce583e3"
            ]
        ]
    },
    {
        "id": "341d12e103dc8526",
        "type": "link in",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "[api] RESEND verify email",
        "links": [
            "762de3a1ad95e96e",
            "2c1745a0ae9a4dd5"
        ],
        "x": 149.44091796875,
        "y": 1986.8855590820312,
        "wires": [
            [
                "89d8b3214924329e"
            ]
        ]
    },
    {
        "id": "643213478716e634",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "link out 59",
        "mode": "link",
        "links": [
            "06c98db054f5e440"
        ],
        "x": 1552.225730895996,
        "y": 1982.4200468063354,
        "wires": []
    },
    {
        "id": "89d8b3214924329e",
        "type": "function",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "check parameters",
        "func": "var payload = msg.payload;\n\nif ( payload.email ) {\n    msg.status = \"db_check\";\n} else {\n    msg.status = \"missing_data\";\n    msg.payload = {\n            status: \"error\",\n            msg: \"something missing\"\n        };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 299.9999084472656,
        "y": 1985.9998779296875,
        "wires": [
            [
                "c25b78919ebc3bd9"
            ]
        ]
    },
    {
        "id": "cc220af0679522fb",
        "type": "http response",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1584.999900817871,
        "y": 2125.9998807907104,
        "wires": []
    },
    {
        "id": "c25b78919ebc3bd9",
        "type": "subflow:e8bbdc11f1fc0dd8",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "",
        "x": 316.4999008178711,
        "y": 2042.9998807907104,
        "wires": [
            [
                "2f8ce9b086c68242"
            ]
        ]
    },
    {
        "id": "0c12bbfce1102852",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "link out 60",
        "mode": "link",
        "links": [
            "0a8b1a95c8e544b9"
        ],
        "x": 578.9999008178711,
        "y": 2099.9998807907104,
        "wires": []
    },
    {
        "id": "b6bd1160913b630a",
        "type": "postgresql",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "create verification code",
        "query": "INSERT into user_verification(\n    user_uuid,\n    email_sent_at \n) values (\n   (select uuid from users where email = '{{ msg.origpayload.email }}'),\n    NOW()\n) \non conflict(user_uuid) do update set created_at = NOW()\nRETURNING user_uuid,code \n;",
        "postgreSQLConfig": "85672f28419095b4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 856.0000228881836,
        "y": 2044.000002861023,
        "wires": [
            [
                "49f9f2430341c884",
                "8deb22cd14041cb2"
            ]
        ]
    },
    {
        "id": "49f9f2430341c884",
        "type": "link out",
        "z": "6bab6804614c2612",
        "g": "c402f821d1e47bb7",
        "name": "link out 69",
        "mode": "link",
        "links": [
            "0a8b1a95c8e544b9"
        ],
        "x": 1062.0000228881836,
        "y": 2044.000002861023,
        "wires": []
    },
    {
        "id": "06c98db054f5e440",
        "type": "link in",
        "z": "6bab6804614c2612",
        "name": "[Mail] Verify Email",
        "links": [
            "449601abfe35007d",
            "b74cf519d3732d2a",
            "643213478716e634"
        ],
        "x": 1518,
        "y": 2588,
        "wires": [
            [
                "a94909f63091b9d5"
            ]
        ]
    },
    {
        "id": "a94909f63091b9d5",
        "type": "subflow:1f6116ea2b105a8b",
        "z": "6bab6804614c2612",
        "name": "",
        "x": 1707.058837890625,
        "y": 2588,
        "wires": [
            [
                "5351c947bd9e66e8"
            ]
        ]
    },
    {
        "id": "5351c947bd9e66e8",
        "type": "change",
        "z": "6bab6804614c2612",
        "name": "Subject: Verification Email",
        "rules": [
            {
                "t": "set",
                "p": "email.subject",
                "pt": "msg",
                "to": "[Bid'n'Buy Club] Verify your Email",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2209.0000915527344,
        "y": 2587.492670059204,
        "wires": [
            [
                "3f837da97ff0e00b"
            ]
        ]
    },
    {
        "id": "3f837da97ff0e00b",
        "type": "template",
        "z": "6bab6804614c2612",
        "name": "email text",
        "field": "email.text",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "Hi {{ user.firstname }} {{ user.surname }}!\n\nYour verification Code is {{ origpayload.verification_code }}\n\nOr verify and login by following the link {{ email.data.verifyLink }}\n\n- Your team @ Bid'n'Buy.club\n\n{{#email.data.dont}}\nIf you consider this to be spam, our apologies. Please use our no more email link: {{ spamMeLink }}\n{{/email.data.dont}}",
        "output": "str",
        "x": 2259.0000915527344,
        "y": 2540.4473004341125,
        "wires": [
            [
                "7214adb078318a32"
            ]
        ]
    },
    {
        "id": "7214adb078318a32",
        "type": "template",
        "z": "6bab6804614c2612",
        "name": "email html",
        "field": "email.html",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html><head>\n    <title>Bid'n'Buy Verification to login</title>\n    <style type=\"text/css\">div{font-size:16px}</style>\n</head>\n<body>\n<div>Hi {{ user.firstname }} {{ user.surname }}!\n<p>\nYour verification code is <b>{{ origpayload.verification_code }}</b>\n\n<p>\n  Or click <a href=\"{{ email.data.verifyLink }}\">here</a> to verify your email and login.\n<p>\n  - Your team @ Bid'n'Buy.club\n\n{{#email.data.dont}}\n<p>\nIf you consider this to be spam, our apologies. Please use our <a href=\"{{ spamMeLink }}\">no more email</a> link.\n{{/email.data.dont}}\n\n</div>\n</body>\n</html>\n",
        "output": "str",
        "x": 2249.0000915527344,
        "y": 2493.401930809021,
        "wires": [
            [
                "40429d0998b73836",
                "e3262d9d2791ab78"
            ]
        ]
    },
    {
        "id": "40429d0998b73836",
        "type": "link out",
        "z": "6bab6804614c2612",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "dcd3c6b256468cfc"
        ],
        "x": 2615.9029541015625,
        "y": 2607.0792236328125,
        "wires": []
    },
    {
        "id": "e3262d9d2791ab78",
        "type": "Sink",
        "z": "6bab6804614c2612",
        "name": "",
        "x": 2526.9998474121094,
        "y": 2445.5033626556396,
        "wires": []
    },
    {
        "id": "e601dab9e5205759",
        "type": "template",
        "z": "6bab6804614c2612",
        "name": "email html",
        "field": "email.html",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html><head>\n    <title>Bid'n'Buy Login Code</title>\n    <style type=\"text/css\">div{font-size:16px}</style>\n</head>\n<body>\n<div>Hi {{ user.firstname }} {{ user.surname }}!\n<p>\n  Enter this login code {{ origpayload.verification_code }}\n\n<p>\n  Or click <a href=\"{{ email.data.loginLink }}\">here</a> to login.\n<p>\n  - Your team @ Bid'n'Buy.club\n\n{{#email.data.dont}}\n<p>\nIf you consider this to be spam, our apologies. Please use our <a href=\"{{ spamMeLink }}\">no more email</a> link.\n{{/email.data.dont}}\n\n</div>\n</body>\n</html>\n",
        "output": "str",
        "x": 2253.0000915527344,
        "y": 2651.614471435547,
        "wires": [
            [
                "40429d0998b73836"
            ]
        ]
    },
    {
        "id": "7d6e9ff48bc8390a",
        "type": "template",
        "z": "6bab6804614c2612",
        "name": "email text",
        "field": "email.text",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "Hi {{ msg.user.firstname }} {{ msg.user.surname }}!\n\nLogin Code {{ msg.origpayload.verification_code }}\n\nOr click on this link {{ msg.email.data.loginLink }}\n\nVery sincerely,\n\n- Your team @ Bid'n'Buy.club\n\n{{#email.data.dont}}\nIf you consider this to be spam, our apologies. Please use our no more email link: {{ spamMeLink }}\n{{/email.data.dont}}",
        "output": "str",
        "x": 2263.0000915527344,
        "y": 2702.6647214889526,
        "wires": [
            [
                "e601dab9e5205759"
            ]
        ]
    },
    {
        "id": "836c73d8634ccb3d",
        "type": "change",
        "z": "6bab6804614c2612",
        "name": "Subject: Login Code",
        "rules": [
            {
                "t": "set",
                "p": "email.subject",
                "pt": "msg",
                "to": "[Bid'n'Buy Club] Login Code",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2223.0000915527344,
        "y": 2753.7149715423584,
        "wires": [
            [
                "7d6e9ff48bc8390a"
            ]
        ]
    },
    {
        "id": "93e97f3d36441ebf",
        "type": "subflow:1f6116ea2b105a8b",
        "z": "6bab6804614c2612",
        "name": "",
        "x": 1711.058837890625,
        "y": 2753.5070304870605,
        "wires": [
            [
                "836c73d8634ccb3d"
            ]
        ]
    },
    {
        "id": "8629ac24837d3d2e",
        "type": "link in",
        "z": "6bab6804614c2612",
        "name": "[Email] Send Login Code",
        "links": [
            "204262a2d05ca231",
            "e265d3d510ea49aa"
        ],
        "x": 1522,
        "y": 2753.5070304870605,
        "wires": [
            [
                "93e97f3d36441ebf"
            ]
        ]
    },
    {
        "id": "d95c6f8cf9d996e9",
        "type": "Screenshot",
        "z": "6bab6804614c2612",
        "name": "",
        "screenshot": "please wait ...",
        "x": 140,
        "y": 86,
        "wires": []
    },
    {
        "id": "54966340c77babf9",
        "type": "Orphans",
        "z": "6bab6804614c2612",
        "name": "",
        "x": 360,
        "y": 88,
        "wires": []
    }
]