examples/seeker-sink.json
[
    {
        "id": "644d61288c671091",
        "type": "group",
        "z": "139a816449acd89f",
        "name": "this flow needs refactoring",
        "style": {
            "label": true
        },
        "nodes": [
            "a9f18b308a918307",
            "24cd5ce1ca3f52d7",
            "c108d845246cf5d8",
            "73729a40176391b6",
            "2330ef30ca42509f",
            "b559bb547b6a7efc",
            "7ba5ec934b306519",
            "49b6268a2ba413cf",
            "e8adf1e30363b84c",
            "afaa8ef8c8aa0746",
            "b2264dd04c98a2cc"
        ],
        "x": 126,
        "y": 93,
        "w": 1208,
        "h": 541
    },
    {
        "id": "a9f18b308a918307",
        "type": "Seeker",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "x": 202,
        "y": 253,
        "wires": [
            [
                "2330ef30ca42509f",
                "c108d845246cf5d8"
            ]
        ]
    },
    {
        "id": "24cd5ce1ca3f52d7",
        "type": "Sink",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "x": 1258,
        "y": 386,
        "wires": []
    },
    {
        "id": "c108d845246cf5d8",
        "type": "switch",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 416,
        "y": 134,
        "wires": [
            [
                "73729a40176391b6",
                "e8adf1e30363b84c"
            ]
        ]
    },
    {
        "id": "73729a40176391b6",
        "type": "change",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 517,
        "y": 190,
        "wires": [
            [
                "2330ef30ca42509f",
                "afaa8ef8c8aa0746"
            ]
        ]
    },
    {
        "id": "2330ef30ca42509f",
        "type": "template",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 620,
        "y": 251,
        "wires": [
            [
                "b559bb547b6a7efc",
                "49b6268a2ba413cf"
            ]
        ]
    },
    {
        "id": "b559bb547b6a7efc",
        "type": "delay",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 724,
        "y": 303,
        "wires": [
            [
                "7ba5ec934b306519"
            ]
        ]
    },
    {
        "id": "7ba5ec934b306519",
        "type": "trigger",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "val",
        "op2type": "val",
        "duration": "250",
        "extend": "false",
        "overrideDelay": "false",
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 796,
        "y": 353,
        "wires": [
            [
                "e8adf1e30363b84c"
            ]
        ]
    },
    {
        "id": "49b6268a2ba413cf",
        "type": "exec",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 545,
        "y": 420,
        "wires": [
            [
                "e8adf1e30363b84c",
                "b559bb547b6a7efc"
            ],
            [
                "afaa8ef8c8aa0746"
            ],
            [
                "afaa8ef8c8aa0746"
            ]
        ]
    },
    {
        "id": "e8adf1e30363b84c",
        "type": "rbe",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 640,
        "y": 485,
        "wires": [
            [
                "b2264dd04c98a2cc"
            ]
        ]
    },
    {
        "id": "afaa8ef8c8aa0746",
        "type": "random",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 748,
        "y": 551,
        "wires": [
            [
                "49b6268a2ba413cf",
                "24cd5ce1ca3f52d7",
                "7ba5ec934b306519"
            ]
        ]
    },
    {
        "id": "b2264dd04c98a2cc",
        "type": "smooth",
        "z": "139a816449acd89f",
        "g": "644d61288c671091",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 855,
        "y": 593,
        "wires": [
            [
                "afaa8ef8c8aa0746",
                "b559bb547b6a7efc"
            ]
        ]
    },
    {
        "id": "7b2b4035188017d2",
        "type": "group",
        "z": "139a816449acd89f",
        "name": "don't execute this flow it contains a loop",
        "style": {
            "label": true
        },
        "nodes": [
            "7a12d1bd632f72da",
            "489b7ede750a407d",
            "a2e7e963d4fa1c2b",
            "82bcb32e163a6456",
            "37a6ae8572a3c549",
            "f1e2d5fedcf8f5b2",
            "a40bc0a91661f47a",
            "6a085dbc390852c3",
            "a8e0e319494b8ee3",
            "6106ae78b76189cb"
        ],
        "x": 136,
        "y": 673,
        "w": 1186,
        "h": 413
    },
    {
        "id": "7a12d1bd632f72da",
        "type": "Seeker",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "",
        "x": 212,
        "y": 750,
        "wires": [
            [
                "a2e7e963d4fa1c2b"
            ]
        ]
    },
    {
        "id": "489b7ede750a407d",
        "type": "Sink",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "",
        "x": 1246,
        "y": 899,
        "wires": []
    },
    {
        "id": "a2e7e963d4fa1c2b",
        "type": "split",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 504,
        "y": 746,
        "wires": [
            [
                "f1e2d5fedcf8f5b2",
                "6106ae78b76189cb"
            ]
        ]
    },
    {
        "id": "82bcb32e163a6456",
        "type": "join",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 849,
        "y": 919,
        "wires": [
            [
                "489b7ede750a407d"
            ]
        ]
    },
    {
        "id": "37a6ae8572a3c549",
        "type": "sort",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 541,
        "y": 836,
        "wires": [
            [
                "f1e2d5fedcf8f5b2",
                "a40bc0a91661f47a"
            ]
        ]
    },
    {
        "id": "f1e2d5fedcf8f5b2",
        "type": "batch",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 698,
        "y": 800,
        "wires": [
            [
                "37a6ae8572a3c549"
            ]
        ]
    },
    {
        "id": "a40bc0a91661f47a",
        "type": "csv",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 633,
        "y": 912,
        "wires": [
            [
                "82bcb32e163a6456"
            ]
        ]
    },
    {
        "id": "6a085dbc390852c3",
        "type": "csv",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 693,
        "y": 1008,
        "wires": [
            [
                "82bcb32e163a6456"
            ]
        ]
    },
    {
        "id": "a8e0e319494b8ee3",
        "type": "link in",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "link in 1",
        "links": [
            "6106ae78b76189cb"
        ],
        "x": 487,
        "y": 1045,
        "wires": [
            [
                "6a085dbc390852c3"
            ]
        ]
    },
    {
        "id": "6106ae78b76189cb",
        "type": "link out",
        "z": "139a816449acd89f",
        "g": "7b2b4035188017d2",
        "name": "link out 92",
        "mode": "link",
        "links": [
            "a8e0e319494b8ee3"
        ],
        "x": 753,
        "y": 714,
        "wires": []
    }
]