examples/trigger-and-save-screenshot.json
[
    {
        "id": "e815c52d1e6a0d25",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03f322255fd8cad1",
        "type": "http in",
        "z": "e815c52d1e6a0d25",
        "name": "[POST] screenshot",
        "url": "/screenshot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 388,
        "y": 305,
        "wires": [
            [
                "ddabce426445e225",
                "a9f9ce494ec4edc1",
                "c81d27b03cf13c69"
            ]
        ]
    },
    {
        "id": "ddabce426445e225",
        "type": "debug",
        "z": "e815c52d1e6a0d25",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1175,
        "y": 307,
        "wires": []
    },
    {
        "id": "e62ae897ba4c777f",
        "type": "http response",
        "z": "e815c52d1e6a0d25",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 817,
        "y": 624,
        "wires": []
    },
    {
        "id": "a9f9ce494ec4edc1",
        "type": "function",
        "z": "e815c52d1e6a0d25",
        "name": "respond with ok",
        "func": "msg.payload = {\n    status: \"ok\",\n    data: {\n    }\n};\nmsg.statusCode = 200;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 622,
        "y": 517,
        "wires": [
            [
                "e62ae897ba4c777f"
            ]
        ]
    },
    {
        "id": "c81d27b03cf13c69",
        "type": "function",
        "z": "e815c52d1e6a0d25",
        "name": "set filename & payload",
        "func": "msg.filename = \"/data/content/screenshot-\" + Date.now() + \".svg\";\n\nmsg.payload = msg.payload[\"d\"];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 744,
        "y": 410,
        "wires": [
            [
                "00c967aaf678c503"
            ]
        ]
    },
    {
        "id": "00c967aaf678c503",
        "type": "file",
        "z": "e815c52d1e6a0d25",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1012,
        "y": 505,
        "wires": [
            [
                "ddabce426445e225"
            ]
        ]
    },
    {
        "id": "32cde1648d31e9b4",
        "type": "Screenshot",
        "z": "e815c52d1e6a0d25",
        "name": "",
        "screenshot": "",
        "x": 461,
        "y": 108,
        "wires": []
    },
    {
        "id": "3957fb7da9d89393",
        "type": "inject",
        "z": "e815c52d1e6a0d25",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 213,
        "y": 108,
        "wires": [
            [
                "32cde1648d31e9b4"
            ]
        ]
    }
]